*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    background-image:url(images/background1.jpg) ;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center center;
    animation: zoomin 60s 1s infinite;
    
}
@keyframes zoomin {
    0% {
      background-size: 100% 100%;
      background-position: center center;
    }
    25% {
      background-size: 200% 200%;
      background-position: top left;
    }
    50% {
        background-size: 200% 200%;
        background-position: center left;
    }
    70% {
        background-size: 100% 100%;
        background-position: center center;
    }
    85% {
      background-size: 250% 250%;
      background-position: right bottom;
    }
    100% {
        background-size: 100% 100%;
        background-position: center center;
      }
  }
  nav{
    height: 8vh;
    width: 50%;
    padding: 50px;
    position: absolute;
    z-index: 10;
    


  }
  .logo{
    color: whitesmoke;
    font-size: 24px;
    font-weight: 800;
  }
 .navlist{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    border-right: red solid 3px;
    width:200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    

 }
 .navlist::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff0000, whitesmoke); 
    animation: borderanimation 3s ease ;
 }

@keyframes borderanimation {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(100%);
    }
    100% {
        transform: translateY(50%);
      }
  }
 nav ul li{
    list-style: none;
 }
 .navlist  ul li:nth-child(1){
    position: absolute;
    right: -50px;
    top: 0px;
    transition: all 0.3s ease;
 }
 .navlist  ul li:nth-child(2){
    position: absolute;
    top: 50px;
    right: -85px;
 }
 .navlist  ul li:nth-child(3){
    position: absolute;
    top: 100px;
    right: -90px;
 }
 .navlist  ul li:nth-child(4){
    position: absolute;
    top: 150px;
    right: -75px;
 }
 .navlist  ul li:nth-child(5){
    position: absolute;
    top: 200px;
    right: -50px;
 }
 
  nav a{
    text-decoration: none;
    color: whitesmoke;

  }
  .navlist  ul li:hover{
    transform: scale(1.5);
 }
 .navlist  ul a:hover{
    color: red;
 }
 .trans{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    
    
 }

 .about{
    width: 60%;
    height: 70%;
    background: radial-gradient(circle,  rgba(255, 255, 255, 1)  0%, rgba(255, 204, 204, 1) 0%,rgba(255, 0, 0, 1)100%);
    margin: auto;
    position: relative;
    padding: 100px;
    letter-spacing: 4px;
    z-index: 2;
    
    
}

.aroundabout{
    position: relative;
}

.ancor{
    width: 30px;
    height: 30px;
    
}
.ancor2{
    /* <i class="fa-solid fa-circle-xmark"></i> */
    font-weight: 500;
    letter-spacing: 4px;
    background-color: #ff0000;
    width: 80px;
    padding: 5px;
    margin-top: 170px;
}
.ancor3{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    z-index: 11;
   
}
.ancor4 a{
    color: #ff0000; 
} important


.ancor3 a{
    color: whitesmoke;
}

.ancor2 a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}
.logo2{
    position: absolute;
    top: 30px;
    left: 100px;
    text-decoration: none;
}


.about a:nth-child(1){
    font-size: 24px;
    color: whitesmoke;
    position: absolute;
    top: 10px;
    right: 10px;

}


 .trans::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    z-index: -1;
    
 }

#aboutdiv{
    display: none;
}
#aboutdiv:target{
    display: block;    
}



#icon:target{
    display: none;
}


#secondpage{
    display: none;
}
#secondpage:target{
    display: block;
}

.secondpage{
    width: 1500px;
    height: 800px;
    position: absolute;
    left: 11%;
    top: 5%;
}
.sidebar li:hover{
    transform: scale(1.5);
}
.sidebar li:hover a{
    color: #ff0000;
}

/* ..................................clubs */

.mainclub{
    width: 100%;
    height: 90vh;
    padding: 100px;
    background-size: contain;
    background: url(images/download.jpeg);
    background-size: cover;
    background-position: center center;
    opacity: 0.8;
    position: absolute;
    top: 0;
    
    
    

}
.roundclub{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 400px;
    height: 400px;
    position: relative;
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;
}
.roundclub1{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 350px;
    height: 350px;
    position: relative;
    top: 25px;
    left: 25px;
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;
}
.roundclub2{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
    animation-name: rotate;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;
}
.roundclub3{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 75px;
    left: 75px;
    animation-name: rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;
}
.roundclub4{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;
}
.roundclub5{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 125px;
    left: 125px;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;
}
.roundclub6{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 150px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;}

  .roundclub555{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 175px;
    left: 175px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5;}


.roundclub556{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 187px;
    left: 187px;
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    opacity: 0.5; 
}
.roundclub557{
    border: 3px solid;
    border-image: linear-gradient(to right, red, white);
    border-image-slice: 1;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 193px;
    left: 193px;
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    grid-area: roundclub;  
    background-color: #ff0000;
    opacity: 0.5;  

}
.hoverb:hover + .roundclub {
    display: none;
  }

  

.club{
    width: 200px;
    height: 200px;
    border: black solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -100px;
    left: 100px;
    background-image: url(images/berghain.jpg);
    background-size: cover;
    background-position: center center ;
    
}




.club2{
    width: 200px;
    height: 200px;
    border: black solid 1px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: -100px;
    background-image: url(images/katerblau.jpg);
    background-size: cover;
    background-position: center center ;

}
.club3{
    width: 200px;
    height: 200px;
    border: black solid 1px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    right: -100px;
    background-image: url(images/schwuz.jpg);
    background-size: cover;
    background-position: center center ;

}
.club4{
    width: 200px;
    height: 200px;
    border: black solid 1px;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: 100px;
    background-image: url(images/RSO.jpg);
    background-size: cover;
    background-position: center center ;

}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.sidebar{
    grid-area: sidebar;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)), 
    url(images/desktop-wallpaper-black-red-simple-neon-digital-stripes-amoled-modern-background-design-pattern-abstract-lines-base-thumbnail.jpg);
    position:relative;
    background-repeat: no-repeat;
    z-index: 4;
    width: 300px;
    height: 600px;
    opacity: 0.8;
    padding: 30px;
    
    

}

.clubbody{
    display: grid;
    grid-template-columns:100px 1fr 1f 100px ;
    grid-template-rows:100px 100px  1fr 100px;
    grid-template-areas: 
    " . .  . .  "
    " . sidebar  . .   "
     " . sidebar  roundclub . "
     " . sidebar roundclub . "
     " . .  . .  " ;
     
}
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;

}
.sidebar ul li a{
   text-decoration: none;
   color: whitesmoke;
   font-size: 20px;

}
.sidebar h1{
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 50px;
 
 }
 .clubb,
 .clubk,
 .clubss,
 .clubr{
    display: none;
     position: absolute;
     top: 20%;
     left: 10%;
     z-index: 5;
 }

/* ..................................artists */
.thirdpage{
    width: 1500px;
    height: 800px;
    position: absolute;
    left: 11%;
    top: 5%;
  
}
.mainartists{
    width: 100%;
    height: 90vh;
    padding: 100px;
    background-size: contain;
    background: url(https://e0.pxfuel.com/wallpapers/205/43/desktop-wallpaper-abstract-color-stripes-streaks-vertical-spectrum.jpg);
    background-size: cover;
    background-position: center center;
    opacity: 0.5;
    position: absolute;
    top: 0;
    

}

#thirdpage{
    display: none;
}
#thirdpage:target{
    display: block;
}
.artistsmages{
    position: absolute;
    opacity: 1;
    width: 70%;
    height: 70%;
    
    display: grid;
    grid-template-columns: 350px 1fr 1fr 1fr 1fr 100px;
    grid-template-rows:50px 1fr 1fr 1fr 100px;
    gap: 50px;
    grid-template-areas: 
    " . . . . . ."
    " . aimg bimg cimg dimg ."
    " . eimg fimg gimg himg ."
    " . iimg jimg kimg limg ."
    " . . . . . ."
     ;
}
.artistsmages img{
    filter: sepia(1);
    transition: all 0.5s linear;
}
.artistsmages img:hover{
    filter: none;
    transform: scale(1.2);
}
.artistsmages a:nth-child(1){
    grid-area: aimg;
}
.artistsmages a:nth-child(2){
    grid-area: bimg;
}
.artistsmages a:nth-child(3){
    grid-area: cimg;
}
.artistsmages a:nth-child(4){
    grid-area: dimg;
}
.artistsmages a:nth-child(5){
    grid-area: eimg;
}
.artistsmages a:nth-child(6){
    grid-area: fimg;
}
.artistsmages a:nth-child(7){
    grid-area: gimg;
}
.artistsmages a:nth-child(8){
    grid-area: himg;
}
.artistsmages a:nth-child(9){
    grid-area: iimg;
}
.artistsmages a:nth-child(10){
    grid-area: jimg;
}
.artistsmages a:nth-child(11){
    grid-area: kimg;
}
.artistsmages a:nth-child(12){
    grid-area: limg;
}

/* ............................................. */
.events{ 
    width : 1500px;
        height: 800px;
    background-color: #2d3436;
    background-image: url(https://e0.pxfuel.com/wallpapers/882/681/desktop-wallpaper-material-design-modern-digital-blue-shapes-texture-black-geometric-silver-abstract.jpg);

    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 11%;
    top: 5%;
    animation: zoomin 60s 1s infinite;
 
}
.innerevents{
    width : 1500px;
    height: 800px;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/537/64/desktop-wallpaper-silver-glitter-backgrounds-in-psd-silver-sparkle.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
    

}
.event1{
    position: absolute;
    top: 30%;
    left:23%;
    gap: 30px;
    width: 800px;
    margin: auto;
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}
.event1 img{
    transition: all 0.5s linear;
    opacity: 0.5;
    
}

.event1 img:hover{
    transform: scale(1.1);
    opacity: 1;
}

#events{
    display: none;

}
#events:target{
    display: block;
}
/* ............................. */
.contact{
    width: 1000px;
    height: 800px;
    position: absolute;
    left: 25%;
    top: 5%;
    font-family: 'Indie Flower', cursive;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/199/14/desktop-wallpaper-black-n-red-leather-red-leather.jpg);
    opacity: 0.9;
   
}
#contact{
    display: none;

}
#contact:target{
    display: block;
}
.ancor5{
    color: whitesmoke;
    
   
    
}
 
.contact h1{
    color: whitesmoke;
    font-size: 44px;
    margin-bottom: 50px;
    
    
    
}
.book{
color: whitesmoke;
margin-left: 35%;
margin-top: 5%;


}
label{
    font-size: 24px;
    
}

.label{
    margin-top:20px;
    font-weight: 700;
}
input{
    opacity: 0.5;
    height: 30px;
   background-color: black;
}
input:focus{
    opacity: 1;
    transform: scale(1.3);
    color: whitesmoke;
}

button{
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/199/14/desktop-wallpaper-black-n-red-leather-red-leather.jpg);
    width: 100px;
    height: 36px;
    background-size: cover;
    margin-top: 20px;
    margin-left: 49%;
    color: whitesmoke;
    font-size: x-large;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
    opacity: 0.5;
    transition: all 0.3s linear;

}
button:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
}

textarea{
    opacity: 0.5;
    background-color: black;


}
textarea:focus{
    opacity: 1;
    background-color: black;
    color: whitesmoke;


}
.social i{
   
   color: red;
   font-size: 34px;
   transition: all 0.5s linear;

}
.social{
    position: absolute;
    bottom: 20px;
    left: 80px;
    display: flex;
   
    gap: 40px;
    
}
.social i:hover{
    transform: scale(1.5);

}

/* responsivness ............................................... */

@media  (max-width: 829px) {
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        /* overflow: hidden; */
    }
    body{
        background-color: black;
        /* background-image:url(images/background1.jpg) ; */
        background-image: none;
        width: 100%;
        height: 100vh;
        background-size: 100% 100%;
        background-position: center center;
        animation: zoomin 60s 1s infinite;
    }
        
    .navlist{
        margin-left: 20px;
        margin-top: -100px;
        font-size: 20px;
        border-right: red solid 3px;
        width:200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
     }
     .logo{
        margin-top: 40px;
     }
     .about{
        width: 95%;
        height: 70%;
        background: radial-gradient(circle,  rgba(255, 255, 255, 1)  0%, rgba(255, 204, 204, 1) 0%,rgba(255, 0, 0, 1)100%);
        margin: auto;
        margin-top: 200px;
        padding: 10px;
        z-index: 2;
        display: block;
    }
    .about i{
        display: none;
    }
    .about .logo{
        display: none;
    }
    #about{
        display: block;

    }
 
.roundclub, .roundclub1, .roundclub2, .roundclub3, .roundclub4, .roundclub5, .roundclub6, .roundclub7, .roundclub555, .roundclub556, .roundclub557{
    display: none;
}
.mainclub{
display: none;
}
.sidebar{
    grid-area: sidebar;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)), 
    url(images/desktop-wallpaper-black-red-simple-neon-digital-stripes-amoled-modern-background-design-pattern-abstract-lines-base-thumbnail.jpg );
    background-repeat: no-repeat;
    z-index: 4;
   width: 100%;
    height: 400px;
    opacity: 1;

}
#secondpage{
    width: 95%;
    display: block;
    margin-top: 800px;
    padding: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    margin-right: 0;
}
#secondpage .ancor2{
    display: none;}

.clubbody{
  
    display: block;
    
}
.sidebar li:hover{
    transform: scale(0);
}
.thirdpage{
    width: 100%;
    position: absolute;
    left: 0%;
    top: 1300px;
}
.mainartists{
    width: 100%;
    height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    
    
   
}
.artistsmages{
    position: absolute;
    left: 45px;
    opacity: 1;
    width: 70%;
    height: 70%;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: 
    
    "aimg gimg"
    "bimg himg"
    "cimg iimg"
    "dimg jimg"
    "eimg kimg"
    "fimg limg"

     ;
}
.events{ 
    width : 100%;
        
    background-color: #2d3436;
    background-image: url(https://e0.pxfuel.com/wallpapers/882/681/desktop-wallpaper-material-design-modern-digital-blue-shapes-texture-black-geometric-silver-abstract.jpg);

    background-size: cover;
    background-position: center center;
    position: absolute;
    left:0;
    top:2300px;
    animation: zoomin 60s 1s infinite;
    
 
}
.innerevents{
    width : 100%;
   
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/537/64/desktop-wallpaper-silver-glitter-backgrounds-in-psd-silver-sparkle.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
}
.event1{
    position: absolute;
    top: 100px;
    left:0;
    gap: 20px;
    width: 100%;
    margin: auto;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.event1 img{
    width: 280px;
    height: 150px;
}
.events .ancor3{
    display: none;
}

.artistsmages img{
    filter: none;
    
}
.event1 img{
    
    opacity: 1;
    
}

.thirdpage i{
    display: none;
}
#thirdpage{
    display: block;
}
#thirdpage:target{
    display: block;
}
#secondpage{
    display: block;
}
#secondpage:target{
    display: block;
}
#aboutdiv{
    display: block;
}
#aboutdiv:target{
    display: block;    
}
#events{
    display: block;
}
#events:target{
    display: block;    
}
#contact{
    display: block;

}
#contact:target{
    display: block;
}
.contact{
    width: 100%;
    position: absolute;
    left: 0;
    top: 3100px;
    font-family: 'Indie Flower', cursive;
    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/199/14/desktop-wallpaper-black-n-red-leather-red-leather.jpg);
    opacity: 1;
    z-index: 50;
   
}
.contact .ancor3{
    display: none;
}
.book{
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 10;
    }
    button{
        background-image: url(https://e1.pxfuel.com/desktop-wallpaper/199/14/desktop-wallpaper-black-n-red-leather-red-leather.jpg);
        width: 100px;
        height: 36px;
        background-size: cover;
        margin-top: 20px;
        margin-left: 40%;
        color: whitesmoke;
        font-size: x-large;
        font-family: 'Indie Flower', cursive;
        font-weight: 700;
        opacity: 0.5;
        transition: all 0.3s linear;
    
    }
    .social{

        position: absolute;
        background-color: black;
        bottom: 20px;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        width: 100%;
        height: 60px;
        
    }
    button{
        margin-top: 10px;
    }
    input:focus{
    
        transform: scale(0);
    }
    input:focus{
        
        transform: scale(0);
    }
    .social i:hover{
        transform: scale(0);
    
    }
}
